.dasboard-cruds-main {
    padding: 45px 50px;
    background-image: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #F9FAF9, #F9FAF9);
    border-radius: 15px;
    margin-bottom: 102px;
  }
  .dasboard-cruds-main .left-form {
    width: 262px;
  }
  .dasboard-cruds-main .upload-img {
    background-color: #F2FAF5;
    width: 262px;
    height: 262px;
    border-radius: 15px;
    position: relative;
    display: flex;
    border: 2px dashed #CA252B;
    margin-bottom: 15px;
  }
  .dasboard-cruds-main .upload-img label {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0px;
  }
  .dasboard-cruds-main .upload-img input {
    display: none;
  }
  .dasboard-cruds-main .upload-img .content {
    text-align: center;
    vertical-align: middle;
    align-self: center;
    flex: 1;
  }
  .dasboard-cruds-main .upload-img .content img {
    margin-bottom: 25px;
  }
  .dasboard-cruds-main .upload-img .content b {
    font-size: 16px;
    color: #CA252B;
    font-weight: bold;
    display: block;
  }
  .dasboard-cruds-main .upload-img .content span {
    color: #808080;
    font-size: 12px;
  }
  .dasboard-cruds-main .texts b {
    margin-bottom: 5px;
  }
  .dasboard-cruds-main .texts p {
    font-size: 12px;
    color: #808080;
    text-align: justify;
  }
  .dasboard-cruds-main .main-form .media-body {
    padding-left: 40px;
  }
  .dasboard-cruds-main .form-group {
    margin-bottom: 24px;
  }
  .dasboard-cruds-main .form-group.lokasi {
    position: relative;
  }
  .dasboard-cruds-main .form-group.lokasi a {
    position: absolute;
    color: #CA252B;
    font-weight: bold;
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: inline-block;
  }
  .dasboard-cruds-main .form-group.lokasi .form-control {
    padding-right: 80px;
  }
  .dasboard-cruds-main .form-group.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 85px;
  }
  .dasboard-cruds-main .form-group.buttons .btn {
    width: 193px;
    padding: 13px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .dasboard-cruds-main .form-group.buttons input {
    background-color: #CA252B;
    color: white;
    text-transform: uppercase;
  }
  
  