.card-head {
    position: relative;
}

.info-kategori {
    background-color: #df4759;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    text-align: end;
    right: 0;
    font-size: 100%;
    margin-right: 0.5em;
}

@media (max-width: 991px) {
    .info-kategori {
        font-size: 80%;
    }
}

.info-kategori p {
    padding: 0.2em;
    margin-bottom: 0;
}
