* {
}

body,
.dropdown-item,
.btn,
a,
p {
    font-weight: 500;
}

.site-footer {
    padding: 5em 0;
    background: #282727;
    font-size: 14px;
    color: white;
}
.site-footer {
    margin-bottom: 0;
}
.site-footer a {
    color: wheat;
    border-bottom: 1px solid transparent;
}
.site-footer a :hover {
    color: floralwhite;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.ininavbar {
    z-index: 999;
    background-color: white;
}
